In [65]:
import pandas as pd

df = pd.read_csv("/Users/gina/Desktop/successful_educations.csv") # open and read data
print(df.head(2))# read 2rows

print(df.tail(2))

print(df.info())# 108 rows / 10 columns / different data type of the each column

pf = df[df['Degree'] == 'PhD'] # read phd 
print(pf)

print(df.groupby('Degree').size())

         Name    Profession               Degree                Field  \
0   Elon Musk  Entrepreneur  Bachelor of Science  Physics & Economics
1  Bill Gates  Entrepreneur          Dropped Out     computer science

                  Institution  Graduation Year Country  \
0  University of Pennsylvania           1997.0     USA
1          Harvard University           1975.0     USA

  University Global Ranking GPA (or Equivalent) Scholarship/Award
0                        13                 3.7       Dean’s List
1                         5                 NaN       Dean’s List
                 Name Profession    Degree      Field  \
106   Susanne Klatten   Business  Bachelor  Economics
107  Cyrus Poonawalla   Business  Bachelor   Pharmacy

                        Institution  Graduation Year  Country  \
106  Technical University of Munich           1993.0  Germany
107              University of Pune           1966.0    India

    University Global Ranking GPA (or Equivalent) Scholarship/Award
106                       NaN                 3.8               NaN
107                       NaN                 3.7               NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       108 non-null    object
 1   Profession                 108 non-null    object
 2   Degree                     106 non-null    object
 3   Field                      105 non-null    object
 4   Institution                106 non-null    object
 5   Graduation Year            99 non-null     float64
 6   Country                    108 non-null    object
 7   University Global Ranking  73 non-null     object
 8   GPA (or Equivalent)        93 non-null     object
 9   Scholarship/Award          80 non-null     object
dtypes: float64(1), object(9)
memory usage: 8.6+ KB
None
                    Name       Profession Degree              Field  \
21       Stephen Hawking        Physicist    PhD            Physics
27   Neil deGrasse Tyson   Astrophysicist    PhD       Astrophysics
35  Ursula von der Leyen       Politician    PhD           Medicine
46        Fareed Zakaria       Journalist    PhD  Political Science
55          Mayim Bialik  Actor/Scientist    PhD       Neuroscience
74            Jim Simons          Finance    PhD        Mathematics
79          Klaus Schwab         Business    PhD          Economics

                Institution  Graduation Year      Country  \
21     Cambridge University           1966.0           UK
27      Columbia University           1991.0          USA
35  Hannover Medical School           1991.0      Germany
46       Harvard University           1993.0          USA
55                     UCLA           2007.0          USA
74              UC Berkeley           1962.0          USA
79   University of Fribourg           1967.0  Switzerland

   University Global Ranking  GPA (or Equivalent)          Scholarship/Award
21                         3  First Class Honours        Nobel Prize Physics
27                         7                  3.9            NASA Fellowship
35                       122      Magna Cum Laude  Research Excellence Award
46                         3      Summa Cum Laude             Phi Beta Kappa
55                        15                  4.0        Neuroscience Fellow
74                         4                  4.0        Research Fellowship
79                       NaN                  4.0             Research Grant
Degree
Bachelor                             43
Bachelor of Arts                      1
Bachelor of Science                   3
Doctor of Philosophy                  2
Dropout                               5
Dropped Out                           2
Engineering                           2
High School                           2
Honorary Doctorate                    1
Juris Doctor                          4
MBA                                   8
MD                                    1
Master                               14
Master of Arts                        1
Master of Business Administration     3
Master of Science                     4
Master/MBA                            1
No Degree                             1
PhD                                   7
Undergraduate Studies                 1
dtype: int64